Repository lilnouns/lilnouns-ens: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck', cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

.lintstagedrc.json:

{
  "*.sol": [
    "forge fmt",
    "prettier --write",
    "cd packages/contracts && pnpm lint:solhint",
    "git add"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'",
    "git add"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.toml": [
    "prettier --write",
    "git add"
  ],
  "packages/contracts/src/**/*.sol": [
    "cd packages/contracts && forge build --sizes",
    "cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'"
  ],
  "packages/contracts/test/**/*.{sol,ts}": [
    "cd packages/contracts && pnpm test:forge",
    "cd packages/contracts && pnpm test:hardhat"
  ]
}

refactor(web): simplify subdomain claim states
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): enforce chain validation in wallet actions
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/components/wallet-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): add `SubdomainInstructions` component
  apps/web/src/app.tsx
  apps/web/src/components/subdomain-instructions.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): replace header text with logo and link
  apps/web/src/app.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): replace inline logo with `Logo` component
  apps/web/src/app.tsx
  apps/web/src/components/logo.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): update `Logo` dimensions for consistency
  apps/web/src/components/logo.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

style(web): reorder imports for improved readability
  apps/web/src/app.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): extract `useSubdomainClaim` hook from claim card
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/hooks/use-subdomain-claim.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(deps): update `pnpm` to 10.15.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(web): update `resolveRpcHttpUrl` for clarity
  apps/web/src/wagmi.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): improve variable naming and type usage
  apps/web/src/components/wallet-card.tsx
  apps/web/src/config/app.ts
  apps/web/src/lib/types.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): add distinct RPC URL environment variables
  apps/web/.env.example
Due: none

feat(web): add `NetworkGuard` component to handle networks
  apps/web/src/components/network-guard.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(config): add linting for JavaScript and TypeScript files
  .lintstagedrc.json
Due: prettier --write

feat(config): add eslint auto-fix to lint-staged
  .lintstagedrc.json
Due: prettier --write

feat(web): wrap `App` with `NetworkGuard`
  apps/web/src/main.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(deps-dev): update `eslint` to 9.34.0
  package.json
Due: prettier --write

chore(deps-dev): update eslint-related dependencies
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(config): centralize ESLint configuration
  apps/web/eslint.config.js
  eslint.config.mjs
  packages/ui/eslint.config.js
Due: prettier --write, eslint --fix --max-warnings=0

chore(deps): add `@radix-ui/react-dialog` as dependency
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(ui): add reusable `Dialog` component
  packages/ui/src/components/dialog.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): integrate `Dialog` into `NftGalleryDialog` and `NetworkGuard`
  apps/web/src/components/network-guard.tsx
  apps/web/src/components/nft-gallery-dialog.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(deps): add `@radix-ui/react-label` to dependencies
  packages/ui/package.json
Due: prettier --write

feat(ui): add reusable `Input` component
  packages/ui/src/components/input.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(ui): add reusable `Label` component
  packages/ui/src/components/label.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(deps): add `sonner` to dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(web): replace custom `ToastProvider` with `AppToaster`
  apps/web/src/components/toast.tsx
  apps/web/src/components/toaster.tsx
  apps/web/src/main.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): update `SubdomainClaimCard` to use `Input`, `Label`, and `sonner`
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(config): update ESLint type-checking rules
  eslint.config.mjs
Due: none

refactor(web): improve `NetworkGuard` readability and maintainability
  apps/web/src/components/network-guard.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): enhance subname claiming UX
  apps/web/index.html
  apps/web/src/app.tsx
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/components/subdomain-instructions.tsx
  apps/web/src/hooks/use-subdomain-claim.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(subdomain-claim-card): improve subdomain claim logic
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): rename subdomain to subname across components
  apps/web/src/app.tsx
  apps/web/src/components/subname-claim-card.tsx
  apps/web/src/components/subname-instructions.tsx
  apps/web/src/hooks/use-subname-claim.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(contracts): rename `subdomain` to `subname` in tests
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

refactor(web): extract `title` for consistent NFT labeling
  apps/web/src/components/nft-gallery-dialog.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): simplify subname claim logic
  apps/web/src/components/subname-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(web): update ESLint ignore paths
  eslint.config.mjs
Due: none

style(web): adjust code style for consistency
  apps/web/src/components/subname-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): modularize subname claim logic
  apps/web/src/components/subname-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): extract availability logic to separate hook
  apps/web/src/components/subname-claim-card.tsx
  apps/web/src/hooks/use-claim-availability.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'
