Repository lilnouns/lilnouns-ens: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck', cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

.lintstagedrc.json:

{
  "*.sol": [
    "forge fmt",
    "prettier --write",
    "cd packages/contracts && pnpm lint:solhint",
    "git add"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'",
    "git add"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.toml": [
    "prettier --write",
    "git add"
  ],
  "packages/contracts/src/**/*.sol": [
    "cd packages/contracts && forge build --sizes",
    "cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'"
  ],
  "packages/contracts/test/**/*.{sol,ts}": [
    "cd packages/contracts && pnpm test:forge",
    "cd packages/contracts && pnpm test:hardhat"
  ]
}

--wip-- [skip ci]
  turbo.json
Due: prettier --write

feat(contracts): add `ILilNounsEnsMapperV1` interface
  packages/contracts/src/interfaces/ILilNounsEnsMapperV1.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

feat(contracts): add `LilNounsEnsMapperV2` with enhanced features
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

feat(contracts): add `LilNounsEnsMapperV2` with enhanced features
  packages/contracts/src/LilNounsEnsErrors.sol
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): enhance `supportsInterface` logic
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): remove `supportsInterface` override
  packages/contracts/src/LilNounsEnsHolder.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): remove unused `setEnsContracts` and hooks
  packages/contracts/src/LilNounsEnsWrapper.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): rename `labelhash` to `labelHash`
  packages/contracts/src/LilNounsEnsWrapper.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): update `LilNounsEnsMapperV2` initializer
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): add tests for `LilNounsEnsMapperV2`
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(eslint): update ignored files in configuration
  apps/web/eslint.config.js
Due: prettier --write, eslint --fix --max-warnings=0

style(contracts): add `slither` directives for conventions
  packages/contracts/src/LilNounsEnsHolder.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

fix(web): ensure `VITE_WC_PROJECT_ID` defaults to string
  apps/web/src/wagmi.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(contracts): update `LilNounsEnsMapperV2` interface handling
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): revise exception handling in `wrapEnsName`
  packages/contracts/src/LilNounsEnsWrapper.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

chore(contracts): enable `ignore_contract_size` in config
  packages/contracts/foundry.toml
Due: prettier --write

refactor(web): remove redundant state in `CounterCard`
  apps/web/src/components/counter-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): optimize `ThemeProvider` with `useMemo`
  apps/web/src/components/theme-provider.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

fix(web): handle missing `#root` element in `main.tsx`
  apps/web/src/main.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

style(web): disable `unicorn/prevent-abbreviations` in `vite-env.d.ts`
  apps/web/src/vite-env.d.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

style(web): reorder imports in `vite.config.ts`
  apps/web/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(contracts): simplify test setup and mocks
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(build): add `clean` pipeline task configuration
  turbo.json
Due: prettier --write

chore(scripts): add `clean` script to package.json
  package.json
Due: prettier --write

chore(deps-dev): add `eslint-formatter-unix` to dev dependencies
  apps/web/package.json
  packages/contracts/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(contracts): add `view` to `_authorizeUpgrade` modifier
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): update test stubs to use `pure` functions
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(contracts): remove unused `ignore_contract_size` setting
  packages/contracts/foundry.toml
Due: prettier --write

chore(contracts): add `runs` setting to Foundry config
  packages/contracts/foundry.toml
Due: prettier --write

refactor(contracts): extract reusable ENS resolver logic
  packages/contracts/src/LilNounsEnsMapperV2.sol
  packages/contracts/src/LilNounsEnsResolver.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): simplify parameter naming in `initialize`
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): remove section headers for clarity
  packages/contracts/src/LilNounsEnsMapperV2.sol
  packages/contracts/src/LilNounsEnsResolver.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): add test stubs for ENS-related contracts
  packages/contracts/test/LilNounsEnsHolder.t.sol
  packages/contracts/test/LilNounsEnsResolver.t.sol
  packages/contracts/test/LilNounsEnsWrapper.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

feat(contracts): add `LilNounsEnsBase` and initial tests
  packages/contracts/src/LilNounsEnsBase.sol
  packages/contracts/test/LilNounsEnsBase.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

refactor(contracts): streamline ENS modules with base contract
  packages/contracts/src/LilNounsEnsErrors.sol
  packages/contracts/src/LilNounsEnsHolder.sol
  packages/contracts/src/LilNounsEnsMapperV2.sol
  packages/contracts/src/LilNounsEnsResolver.sol
  packages/contracts/src/LilNounsEnsWrapper.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): update test stubs to use `pure` functions
  packages/contracts/test/LilNounsEnsHolder.t.sol
  packages/contracts/test/LilNounsEnsResolver.t.sol
  packages/contracts/test/LilNounsEnsWrapper.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

docs(contracts): add `@author` tags to all ENS modules
  packages/contracts/src/LilNounsEnsBase.sol
  packages/contracts/src/LilNounsEnsErrors.sol
  packages/contracts/src/LilNounsEnsHolder.sol
  packages/contracts/src/LilNounsEnsMapperV2.sol
  packages/contracts/src/LilNounsEnsResolver.sol
  packages/contracts/src/LilNounsEnsWrapper.sol
  packages/contracts/src/interfaces/ILilNounsEnsMapperV1.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): improve ENS event param documentation
  packages/contracts/src/LilNounsEnsBase.sol
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

refactor(contracts): rename `LilNounsEnsMapperV2` to `V3`
  packages/contracts/src/LilNounsEnsMapperV3.sol
  packages/contracts/test/LilNounsEnsMapperV3.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

refactor(contracts): remove redundant ENS contracts
  packages/contracts/src/LilNounsEnsBase.sol
  packages/contracts/src/LilNounsEnsErrors.sol
  packages/contracts/src/LilNounsEnsHolder.sol
  packages/contracts/src/LilNounsEnsMapperV3.sol
  packages/contracts/src/LilNounsEnsResolver.sol
  packages/contracts/src/LilNounsEnsWrapper.sol
  packages/contracts/test/LilNounsEnsBase.t.sol
  packages/contracts/test/LilNounsEnsHolder.t.sol
  packages/contracts/test/LilNounsEnsMapperV3.t.sol
  packages/contracts/test/LilNounsEnsResolver.t.sol
  packages/contracts/test/LilNounsEnsWrapper.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat
