Repository lilnouns/lilnouns-ens: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck', cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

.lintstagedrc.json:

{
  "*.sol": [
    "forge fmt",
    "prettier --write",
    "cd packages/contracts && pnpm lint:solhint",
    "git add"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'",
    "git add"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.toml": [
    "prettier --write",
    "git add"
  ],
  "packages/contracts/src/**/*.sol": [
    "cd packages/contracts && forge build --sizes",
    "cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'"
  ],
  "packages/contracts/test/**/*.{sol,ts}": [
    "cd packages/contracts && pnpm test:forge",
    "cd packages/contracts && pnpm test:hardhat"
  ]
}

test(contracts): reduce verbosity level in `test:forge`
  packages/contracts/package.json
Due: prettier --write

feat(contracts): add deployment script for `LilNounsEnsMapperV2`
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint

build(contracts): enable additional foundry build options
  packages/contracts/foundry.toml
Due: prettier --write

feat(contracts): add `initialOwner` to `initialize`
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): update `initialize` test to use `owner`
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

feat(contracts): update script to support `initialOwner`
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint

feat(contracts): add ENS resolution methods to `LilNounsEnsMapperV2`
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): add tests for `ensNameOf` method
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

refactor(contracts): rename subdomain references to subname
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
  packages/contracts/src/LilNounsEnsMapperV2.sol
  packages/contracts/src/interfaces/ILilNounsEnsMapperV1.sol
  packages/contracts/src/libraries/LilNounsEnsErrors.sol
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(release): prepare for version 1.0.0-alpha.11
  CHANGELOG.md
  package.json
Due: prettier --write

test(mocks): add mocks for ENS, ERC721, and legacy mappings
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
  packages/contracts/test/mocks/MockENS.sol
  packages/contracts/test/mocks/MockERC721.sol
  packages/contracts/test/mocks/MockLegacy.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

refactor(contracts): rename `migrateSubnameFromV1` method
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

feat(contracts): add `isLegacySubname` method
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): add fuzz tests for subname claims and migration
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

feat(contracts): add `relinquishSubname` method
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): add tests for `relinquishSubname` method
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

feat(contracts): add `releaseLegacySubname` method
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): add tests for `releaseLegacySubname` method
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(release): prepare for version 1.0.0-alpha.12
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(contracts): replace `isLegacySubname` by `isLegacyNode`
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): update tests to use `isLegacyNode`
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(contracts): exclude `asm-keccak256` from linter
  packages/contracts/foundry.toml
Due: prettier --write

test(contracts): remove unused `ILilNounsEnsMapperV1` import
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(contracts): update Foundry test directory configuration
  packages/contracts/foundry.toml
Due: prettier --write

test(contracts): remove unused `console` import
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(release): prepare for version 1.0.0-alpha.13
  CHANGELOG.md
  package.json
Due: prettier --write

test(contracts): add test for claiming new label after relinquishing
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

fix(contracts): prevent claiming existing ENS subnodes
  packages/contracts/src/LilNounsEnsMapperV2.sol
  packages/contracts/src/libraries/LilNounsEnsErrors.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): add test for pre-existing ENS subnodes
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
  packages/contracts/test/mocks/MockENS.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

fix(contracts): enhance error handling for ENS subnodes
  packages/contracts/src/LilNounsEnsMapperV2.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'

test(contracts): disable lint on unsafe typecast in test
  packages/contracts/test/LilNounsEnsMapperV2.t.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

chore(release): prepare for version 1.0.0-alpha.14
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): update workspace config and enforce overrides
  package.json
  pnpm-workspace.yaml
Due: prettier --write

fix(contracts): resolve `_ROOT_LABEL` naming inconsistency
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint

feat(contracts): add network-specific env var handling
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint

feat(web): add subdomain claim functionality with UI updates
  apps/web/src/app.tsx
  apps/web/src/components/nft-gallery-dialog.tsx
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/components/toast.tsx
  apps/web/src/components/wallet-connect-button.tsx
  apps/web/src/lib/abis/registrar.ts
  apps/web/src/lib/subgraph-client.ts
  apps/web/src/lib/types.ts
  apps/web/src/main.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

style(web): improve responsive layout and spacing
  apps/web/index.html
  apps/web/src/app.tsx
  apps/web/src/components/network-card.tsx
  apps/web/src/components/nft-gallery-dialog.tsx
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/components/wallet-card.tsx
  apps/web/src/components/wallet-connect-button.tsx
  package.json
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): add `ThemeToggle` for theme switching
  apps/web/src/app.tsx
  apps/web/src/components/theme-toggle.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

fix(web): update subdomain placeholder text
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

fix(web): improve `SubdomainClaimCard` state handling
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'
