Repository lilnouns/lilnouns-ens: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck', cd packages/contracts && forge build --sizes, cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis', cd packages/contracts && pnpm test:forge, cd packages/contracts && pnpm test:hardhat

.lintstagedrc.json:

{
  "*.sol": [
    "forge fmt",
    "prettier --write",
    "cd packages/contracts && pnpm lint:solhint",
    "git add"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'",
    "git add"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.toml": [
    "prettier --write",
    "git add"
  ],
  "packages/contracts/src/**/*.sol": [
    "cd packages/contracts && forge build --sizes",
    "cd packages/contracts && command -v slither >/dev/null 2>&1 && slither . --exclude-dependencies || echo 'Slither not available, skipping security analysis'"
  ],
  "packages/contracts/test/**/*.{sol,ts}": [
    "cd packages/contracts && pnpm test:forge",
    "cd packages/contracts && pnpm test:hardhat"
  ]
}

style(ui): update theme variables and improve consistency
  packages/ui/src/index.css
Due: none

style(ui): update font-family declarations
  packages/ui/src/index.css
Due: none

feat(web): add Google Fonts integration
  apps/web/index.html
Due: none

style(ui): update `data-slot` attribute in `separator`
  packages/ui/src/components/separator.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(ui): add `DropdownMenu` component
  packages/ui/src/components/dropdown-menu.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(deps): add `@radix-ui/react-dropdown-menu` to ui
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(web): add `WalletConnectButton` component
  apps/web/src/app.tsx
  apps/web/src/components/wallet-connect-button.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): remove `WalletConnectButton` from claim card
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(contracts): rename `ROOT_LABEL` to `ENS_ROOT_LABEL`
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write, cd packages/contracts && pnpm lint:solhint

refactor(web): update contract address and rename contract
  apps/web/wagmi.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): implement `LilNounsEnsMapper` contract hooks
  apps/web/src/hooks/contracts.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): remove `CounterCard` component
  apps/web/src/components/counter-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): rename `subdomain` to `subname` in UI texts
  apps/web/src/components/nft-gallery-dialog.tsx
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): remove `registrarAbi` constant
  apps/web/src/lib/abis/registrar.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): replace `useWriteContract` with generated hook
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

chore(deps-dev): add `vitest` to dev dependencies
  apps/web/package.json
Due: prettier --write

chore(deps): add `zod` to dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(web): add README with setup and usage instructions
  apps/web/README.md
Due: prettier --write

refactor(web): replace `sepolia` with custom `chain` config
  apps/web/src/wagmi.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): update `toast`, `theme-toggle`, and `nft-gallery-dialog`
  apps/web/src/components/nft-gallery-dialog.tsx
  apps/web/src/components/theme-toggle.tsx
  apps/web/src/components/toast.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): replace `useContext` with `use` in `useTheme`
  apps/web/src/components/theme-provider.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): extend `ImportMetaEnv` with custom env vars
  apps/web/src/vite-env.d.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): update TS target to ES2021
  apps/web/tsconfig.app.json
Due: prettier --write

chore(deps): add `@nekofar/lilnouns` to dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): add `graphql-request` to dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(web): add chain resolution with environment variables
  apps/web/src/config/app.ts
  apps/web/src/config/chain.ts
  apps/web/src/config/print-environment-warning.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): update app header title to `Lil Nouns`
  apps/web/src/app.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): extend `ImportMetaEnv` with `VITE_SUBGRAPH_URL`
  apps/web/src/vite-env.d.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): add example `.env` with `VITE_SUBGRAPH_URL`
  apps/web/.env.example
Due: none

chore(web): ignore `schema.graphql` in `.gitignore`
  apps/web/.gitignore
Due: none

refactor(web): update `fetchOwnedLilNouns` for graphql-request
  apps/web/src/lib/subgraph-client.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): dedupe dependencies in Vite config
  apps/web/vite.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): add support for injected wallet detection
  apps/web/src/components/wallet-connect-button.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): add chain configuration options and update hooks
  apps/web/.env.example
  apps/web/src/components/network-card.tsx
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/components/wallet-connect-button.tsx
  apps/web/src/config/chain.ts
  apps/web/src/wagmi.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): add chain-specific RPC and subgraph URL support
  apps/web/.env.example
  apps/web/README.md
  apps/web/src/config/app.ts
  apps/web/src/wagmi.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): integrate on-chain Lil Nouns balance handling
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(ui): add `Skeleton` component
  packages/ui/src/components/skeleton.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

feat(web): improve loading states for subdomain claim card
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): improve typings and code readability
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'

refactor(web): update `fetchOwnedLilNouns` for address handling
  apps/web/src/lib/subgraph-client.ts
Due: prettier --write, eslint --fix --max-warnings=0, bash -c 'cd packages/contracts && npx tsc --noEmit --skipLibCheck'
