Repository lilnouns/lilnouns-ens: changes, and which lint-staged commands are due for each by the changed paths.
All: forge fmt, prettier --write

chore(deps): update `pnpm` to 10.15.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps-dev): update `eslint` to 9.34.0
  package.json
Due: none

chore(deps-dev): update eslint-related dependencies
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): add `@radix-ui/react-label` to dependencies
  packages/ui/package.json
Due: none

chore(deps): add `@radix-ui/react-dialog` as dependency
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): add `sonner` to dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore(web-deps): add `type-fest` dev dependency
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore(web-deps): add `remeda` dependency
  apps/web/package.json
Due: none

chore(deps-dev): update `turbo` position in dependencies
  package.json
Due: none

chore(deps): bump `@radix-ui/react-dialog` to 1.1.15
  packages/ui/package.json
Due: none

chore(deps-dev): bump `typescript-eslint` to 8.42.0
  package.json
Due: none

chore(deps): bump `@radix-ui/react-label` to 2.1.7
  packages/ui/package.json
Due: none

chore(deps): reorder `graphql-request` in dependencies
  apps/web/package.json
Due: none

chore(deps): bump `zod` to 4.1.5
  packages/ui/package.json
Due: none

chore(deps): bump `tw-animate-css` to 1.3.8
  packages/ui/package.json
Due: none

chore(deps): reorder `wagmi` in dependencies
  apps/web/package.json
Due: none

chore(deps): bump `viem` to 2.37.2
  apps/web/package.json
Due: none

chore(deps): bump `tw-animate-css` to 1.3.8
  apps/web/package.json
Due: none

chore(deps): bump `sonner` to 2.0.7 and `zod` to 4.1.5
  apps/web/package.json
Due: none

chore(deps-dev): bump `vitest` to 3.2.4
  apps/web/package.json
Due: none

chore(deps-dev): bump `vite` to 7.1.4
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore(release): prepare for version 1.0.0-alpha.15
  CHANGELOG.md
  package.json
Due: none

feat(web): add subdomain claim functionality with UI updates
  apps/web/src/app.tsx
  apps/web/src/components/nft-gallery-dialog.tsx
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/components/toast.tsx
  apps/web/src/components/wallet-connect-button.tsx
  apps/web/src/lib/abis/registrar.ts
  apps/web/src/lib/subgraph-client.ts
  apps/web/src/lib/types.ts
  apps/web/src/main.tsx
Due: prettier --write

feat(contracts): add network-specific env var handling
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write

fix(contracts): resolve `_ROOT_LABEL` naming inconsistency
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write

style(web): improve responsive layout and spacing
  apps/web/index.html
  apps/web/src/app.tsx
  apps/web/src/components/network-card.tsx
  apps/web/src/components/nft-gallery-dialog.tsx
  apps/web/src/components/subdomain-claim-card.tsx
  apps/web/src/components/wallet-card.tsx
  apps/web/src/components/wallet-connect-button.tsx
Due: prettier --write

fix(web): update subdomain placeholder text
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write

feat(web): add `ThemeToggle` for theme switching
  apps/web/src/app.tsx
  apps/web/src/components/theme-toggle.tsx
Due: prettier --write

fix(web): improve `SubdomainClaimCard` state handling
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write

style(ui): update `data-slot` attribute in `separator`
  packages/ui/src/components/separator.tsx
Due: prettier --write

style(ui): update font-family declarations
  packages/ui/src/index.css
Due: none

style(ui): update theme variables and improve consistency
  packages/ui/src/index.css
Due: none

feat(web): add Google Fonts integration
  apps/web/index.html
Due: none

refactor(web): remove `WalletConnectButton` from claim card
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write

feat(ui): add `DropdownMenu` component
  packages/ui/src/components/dropdown-menu.tsx
Due: prettier --write

feat(web): add `WalletConnectButton` component
  apps/web/src/app.tsx
  apps/web/src/components/wallet-connect-button.tsx
Due: prettier --write

refactor(contracts): rename `ROOT_LABEL` to `ENS_ROOT_LABEL`
  packages/contracts/script/LilNounsEnsMapperV2.s.sol
Due: forge fmt, prettier --write

refactor(web): remove `CounterCard` component
  apps/web/src/components/counter-card.tsx
Due: prettier --write

refactor(web): rename `subdomain` to `subname` in UI texts
  apps/web/src/components/nft-gallery-dialog.tsx
  apps/web/src/components/subdomain-claim-card.tsx
Due: prettier --write

refactor(web): implement `LilNounsEnsMapper` contract hooks
  apps/web/src/hooks/contracts.ts
Due: prettier --write

Path conditions:
  forge fmt: any of: *.sol
  prettier --write: (any of: *.sol) or (any of: *.{js,jsx,ts,tsx})
